.navbar {
    background-color: #3535351f;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 2px 2px 2rem rgb(192, 192, 192);
    padding-left: 1rem;
}

.logo {
    color: rgb(228, 228, 228);
    font-size: 2rem;
    font-weight: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

/* Default Menu (Desktop) */
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.menu-toggle {
    padding: 1rem;
}

.option {
    display: flex;
    list-style: none;
    transition: 0.2s;
    z-index: 100;
}

.option:hover {
    border-radius: 0.3rem;
    color: white;
}

.option a{
    color: rgb(124, 124, 124); 
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    transition: 0.1s;
}

.option a:hover {
    color: rgb(255, 255, 255); 
    border-radius: 0.3rem;
    background-color: #00000061;
    backdrop-filter: blur(10px);
}

/* Mobile & Tablet Styles */
.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Mobile View */
@media screen and (max-width: 768px) {
    .navbar {
        box-shadow: 2px 2px 1.5rem rgb(166, 166, 166);
        height: 4rem;
    }

    .logo {
        font-size: 1.2rem;
    }

    .menu-toggle {
        display: block;
        text-align: center;
        justify-content: center;
         font-size: 1.2rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 255, 0.381);
        background-color: #222222;
        padding: 1rem 0;
    }

    .nav-links.open {
        display: flex;
        
    }

    .option {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem 0;
    }

    .option a {
        font-size: 1.5rem;
        display: block;
    }
}