.Project {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #4b44ffbc;
  border-radius: 0 0 1.2rem 1.2rem;
  box-shadow: 2px 4px 10px rgb(77, 77, 77);
}

.detail {
  margin: 0;
  padding: 0;
  display: flex;
}

.left-Part {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: fit-content;
}

.video {
  backdrop-filter: blur(2px);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.project-video {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
}

.right-Part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  background-color: #ffffff;
  backdrop-filter: blur(2px);
  padding: 0.5rem;
}

.right-Part h2 {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

.description {
  color: rgb(50, 50, 50);
  margin: 0.5rem 0;
  font-size: 1rem;
}

.tech-stacks {
  color: rgb(45, 45, 45);
  font-size: 1rem;
}

.project-links {
  display: flex;
  border-radius: 0 0 1rem 1rem;
}

.project-links div {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.demo-link {
  width: 64%;
}

.github-link {
  width: 36%;
  border-radius: 0 0 1rem 1rem;
}

.project-link-anchor-tag {
  color: rgba(201, 201, 201, 0.6);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
  display: block;
  transition: ease-in-out;
  transition-duration: 0.2s;
}

.project-link-anchor-tag:hover {
  color: rgb(255, 255, 255);
  background-color: #4a44ffcc;
  border-radius: 0 0 1rem 1rem;
}

.left-Part {
  width: 100%;
}

.detail {
  display: flex;
  flex-direction: column;
}

.right-Part {
  width: 98%;
  padding: 1%;
}
.right-Part h2 {
  font-size: 1.1rem;
  margin: 0.2rem 0;
}

.description {
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.tech-stacks {
  display: flex;
  text-align: start;
  align-items: start;
  justify-content: start;
  font-size: 0.85rem;
}

.demo-link {
  width: 50%;
}

.github-link {
  width: 50%;
  border-radius: 0 0 1rem 1rem;
}

.project-link-anchor-tag {
  font-size: 1rem;
  padding: 1rem;
  display: block;
  text-align: center;
  align-items: center;
}

.project-link-anchor-tag:hover {
  color: rgb(255, 255, 255);
  background-color: #4a44ffcc;
  font-size: 1.15rem;
}
